.cart {
  .cart__schema-input {
    flex-grow: 1 !important;

    input {
      width: 100% !important;
      height: 100% !important;
  
      padding: 0 !important;
      border: 0 !important;
      padding-left: 15px !important;
  
      background-color: transparent !important;
  
      color: #848A99 !important;
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 500 !important;
      line-height: 100% !important;
      text-transform: none !important;
    }
  }
}