.cart {
  .cart__schema-input .input {
    color: #848A99 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    line-height: 100% !important;
    text-transform: none !important;
  }
}