@import 'core.scss';

.outlined-text { 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: var(--stroke-width, 1px) var(--stroke-color, #E1E1F1);
  color: var(--stroke-color, #E1E1F1)
}

.tippy-box[data-theme~=bkrv] {
  background-color: #C95454;
  background-color: #fff;
  color: #fff;
  color: #3d3d3d;
  font-size: 16px !important;
  // border-radius: 0 !important;
  font-weight: 700;
  padding: 0 10px;

  @apply font-hnd;
}

.product-page {
  .swiper-button-prev {
    justify-content: flex-start;
  }
  .swiper-button-next {
    justify-content: flex-end;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 70px;
    height: 50%;
    top: 50%;
    margin-top: 0;
    transform: translateY(-50%);
    mix-blend-mode: exclusion;
    opacity: 0;
    transition: .15s ease opacity;
    filter: drop-shadow(0 10px 10px rgba(32, 32, 32, .6));

    @media screen and (max-width: 767.99px) {
      opacity: 1;
    }

    &.swiper-button-disabled {
      opacity: 0 !important;

      @media screen and (max-width: 767.99px) {
        opacity: 0.35 !important;
      }  

      &:hover {
        opacity: 1 !important;
      }
    }

    &:hover {
      opacity: 1
    }
  }
}

@import './BadgeHover.scss';