@import 'core.scss';

.outlined-text { 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: var(--stroke-width, 1px) var(--stroke-color, #E1E1F1);
  color: var(--stroke-color, #E1E1F1)
}

.tippy-box[data-theme~=bkrv] {
  background-color: #C95454;
  font-size: 16px !important;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 950px;
  margin: 0 auto;
  padding: 45px 15px 36px;
  
  background-color: #F6F5FF;

  &__title {
    color: #000;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;

    @include phone {
      font-size: 28px;
      text-align: center;
    }
  }

  &__body {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;

    @include phone {
      max-width: 300px;      
    }
  }

  &__link {
    color: #969EAB;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__input-hint {
    position: absolute;
    bottom: 15px;

    color: #969EAB;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @include phone {
      bottom: 0px;
    }
  }

  &__error-message {
    margin-bottom: 40px;

    color: #C95454;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    @include phone {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__btn {
    @include phone {
      justify-content: center;

      max-width: 300px;
      width: 100%;
    }
  }
}

.drop {
  .swiper-button-prev,
  .swiper-button-next {
    transform: translateY(-50%);
    mix-blend-mode: exclusion;
  }
}

.product-page {
  .swiper-button-prev {
    justify-content: flex-start;
  }
  .swiper-button-next {
    justify-content: flex-end;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 70px;
    height: 50%;
    top: 50%;
    margin-top: 0;
    transform: translateY(-50%);
    mix-blend-mode: exclusion;
    opacity: 0;
    transition: .15s ease opacity;
    filter: drop-shadow(0 10px 10px rgba(32, 32, 32, .6));

    @media screen and (max-width: 767.99px) {
      opacity: 1;
    }

    &.swiper-button-disabled {
      opacity: 0 !important;

      &:hover {
        opacity: 1 !important;
      }
    }

    &:hover {
      opacity: 1
    }
  }
}

.history-order {
  .swiper-button-prev,
  .swiper-button-next {
    
    &::after {
      mix-blend-mode: difference;
    }
  }

  .swiper-button-prev {
    transform: scale(0.6) translateX(-25px);
  }
  .swiper-button-next {
    transform: scale(0.6) translateX(25px);
  }
}

@import './BadgeHover.scss';