// Modern format (only woff2 and woff)
// Only woff2 and woff
// @mixin font($family, $filePath, $weight: normal, $style: normal) {
//   @font-face {
//     font-family: $family;
//     src: url("#{$filePath}.woff") format("woff"),
//     // Prety modern browsers
//     url("#{$filePath}.woff2") format("woff2");

//     font-weight: $weight;
//     font-style: $style;
//     font-display: swap;
//   }
// }

// woff2, woff, ttf, eot
@mixin font($family, $filePath, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url("#{$filePath}.eot"); // IE9 Compact Modes
    src: url("#{$filePath}.woff") format("woff"),
    // Prety modern browsers
    url("#{$filePath}.woff2") format("woff2"),

    // Use for maximum compatibility
    url("#{$filePath}.ttf") format("truetype"),
    // Safari, Android, iOS
    url("#{$filePath}.eot?#iefix") format("embedded-opentype"); // IE6-IE8

    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}


@include font('SF Pro Display', '@/assets/fonts/SFProDisplay/SFProDisplay-Thin', 100);
@include font('SF Pro Display', '@/assets/fonts/SFProDisplay/SFProDisplay-Light', 300);
@include font('SF Pro Display', '@/assets/fonts/SFProDisplay/SFProDisplay-Regular', normal);
@include font('SF Pro Display', '@/assets/fonts/SFProDisplay/SFProDisplay-Medium', 500);
@include font('SF Pro Display', '@/assets/fonts/SFProDisplay/SFProDisplay-Semibold', 600);
@include font('SF Pro Display', '@/assets/fonts/SFProDisplay/SFProDisplay-Bold', bold);
@include font('SF Pro Display', '@/assets/fonts/SFProDisplay/SFProDisplay-Black', 900);

@include font('Helvetica Now Display', '@/assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Thin', 100);
@include font('Helvetica Now Display', '@/assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Light', 300);
@include font('Helvetica Now Display', '@/assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Regular', 400);
@include font('Helvetica Now Display', '@/assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Medium', 500);
@include font('Helvetica Now Display', '@/assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-Bold', 700);
@include font('Helvetica Now Display', '@/assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBold', 800);
@include font('Helvetica Now Display', '@/assets/fonts/HelveticaNowDisplay/HelveticaNowDisplay-ExtraBlack', 900);