.swiper {
  overflow: visible !important;

  .swiper-slide {
    @apply opacity-20;
    transition: opacity .25s ease;

    .heading {
      @apply opacity-0;
    }

    .swiper-slide-navs {
      @apply opacity-0;

      @media (max-width: 767px) {
        display: none;
      }
    }

    .catalog-link {
      @apply pointer-events-none;
    }
  }

  .swiper-slide-active {
    @apply opacity-100;

    .heading {
      @apply opacity-100;
      transition: opacity .5s ease;
    }

    .swiper-slide-navs {
      @apply opacity-100;
    }

    .catalog-link {
      @apply pointer-events-auto
    }
  }
}

.heading {
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 2.56px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 48px;
  }
}

.tags {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.6;
}

.sold-out {
  color: #ffffff;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 950;
  line-height: 100%;
  letter-spacing: 2.56px;
  text-transform: uppercase;

  mix-blend-mode: difference;

  @apply font-hnd;
}
