.swiper {
  overflow: visible !important;

  .swiper-slide {
    opacity: 0.2;
    transition: opacity .25s ease;

    .heading {
      opacity: 0;
    }

    .swiper-slide-navs {
      opacity: 0;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .swiper-slide-active {
    opacity: 1;

    .heading {
      opacity: 1;
      transition: opacity .5s ease;
    }

    .swiper-slide-navs {
      opacity: 1;
    }
  }
}

.heading {
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 2.56px;
  text-transform: uppercase;

  @media (max-width: 767px) {
    font-size: 48px;
  }
}

.tags {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.6;
}

.sold-out {
  color: #FFF;
  text-align: center;
  font-family: Helvetica Now Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 950;
  line-height: 100%;
  letter-spacing: 2.56px;
  text-transform: uppercase;

  mix-blend-mode: difference;
}
